<div data-ng-controller="DeshboardController">


<!-- <img src="Desk.jpg"/> 
<img src="index.jpeg"/>  -->
<head>
<!-- <div data-ng-controller="DeshboardController"> -->

<script src="http://yandex.st/jquery/1.11.1/jquery.min.js"></script>
<link href="http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css"
	media="screen" rel="stylesheet" />
<script src="http://yandex.st/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
 
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Asset Management</h1>
	</div>
</div>
</head>
<!-- /.col-lg-12 -->
<!-- /.row -->
<div class="col-sm-3">
	<ul class="nav nav-pills nav-stacked">
		<li role="presentation" class="active"><a href="#">Home</a></li>
		<li role="presentation" class="active"><a
			href="views/assets/addAsset.html">Assets</a></li>
		<li role="presentation" class="active"><a
			href="views/createCenter.html">Center</a></li>
			
		<li role="presentation" class="active"><a
		 href="views/myApp.html">Reports</a></li>
		
		<li role="presentation" class="active"><a
			href="views/section/createUser.html">Staff</a></li>
	</ul>
</div>

<div class="row col-md-8">
	<div class="col-lg-10">
		<div class="panel panel-default">
			<div id="carousel-example-generic" class="carousel slide" data-interval="3000"
				data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0"
						class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<img src="http://placehold.it/1200x500" />
						<div class="carousel-caption">
							<h3>Caption Text</h3>
						</div>
					</div>
					<div class="item">
						 <img src="http://placehold.it/1200x500" alt="CHAIR">
						<div class="carousel-caption">
							<h3>Caption Text</h3>
						</div>
					</div>
					<div class="item">
						<img src="http://placehold.it/1200x500" alt="DESK"/> 
						<div class="carousel-caption">
							<h3>Caption Text</h3>
						</div>
					</div>
				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-example-generic"
					role="button" data-slide="prev"> <span
					class="glyphicon glyphicon-chevron-left"></span>
				</a> <a class="right carousel-control" href="#carousel-example-generic"
					role="button" data-slide="next"> <span
					class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>
			<!-- Carousel -->

			<!-- <div class="table-responsive">

						<div id="myCarousel" class="carousel slide">
							<ol class="carousel-indicators">
								<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
								<li data-target="#myCarousel" data-slide-to="1"></li>
								<li data-target="#myCarousel" data-slide-to="2"></li>
							</ol>
							Carousel items
							<div class="carousel-inner">

								<div class="item">
									<img alt="" src="assets/img/bootstrap-mdo-sfmoma-03.jpg">
									<div class="carousel-caption">
										<h4>Third Thumbnail label</h4>
										<p>Cras justo odio, dapibus ac facilisis in, egestas eget
											quam. Donec id elit non mi porta gravida at eget metus.
											Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
									</div>

								</div>
								<a class="left carousel-control" data-slide="prev"
									href="#myCarousel">‹</a> <a class="right carousel-control"
									data-slide="next" href="#myCarousel">›</a>
							</div>
						</div>

						<div class="item">
							<img alt="" src="assets/img/bootstrap-mdo-sfmoma-02.jpg">
							<div class="carousel-caption">
								<h4>Second Thumbnail label</h4>
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget
									quam. Donec id elit non mi porta gravida at eget metus. Nullam
									id dolor id nibh ultricies vehicula ut id elit.</p>
							</div>
						</div>

						<div class="item">
							<img alt="" src="assets/img/bootstrap-mdo-sfmoma-01.jpg">
							<div class="carousel-caption">
								<h4>First Thumbnail label</h4>
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget
									quam. Donec id elit non mi porta gravida at eget metus. Nullam
									id dolor id nibh ultricies vehicula ut id elit.</p>
							</div>
						</div>
					</div> -->
			<!-- Carousel nav -->
			<!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#myCarousel"
				data-slide="next">&rsaquo;</a> -->
		</div>
	</div>
</div>
<!-- /.row -->
</div>
<!-- /#page-wrapper -->